@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    --gradient: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    --black: #000000;
    --red: #C20000;
    --blue: #001F70;
    --font:'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: var(--font);
    font-size: 16px;
}

.header-top{
    width: 95%;
    max-width: 75em;
    margin: auto;
    height: 5em;
    /* background: royalblue; */
}
.header-top img{
    width: 95%;
    max-width: 21.18em;
}
.content{
    width: 95%;
    max-width: 75em;
    height: 100%;
    margin: auto;
    /* background-color: rgb(171, 245, 0);  */
}
.flex-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    width: 100%;
    max-width: 37.5em;
}
.menu ul{
    list-style-type: none;
}
.menu a{
    color: white;
    text-decoration: unset;
    font-size: 1.em;
    text-transform: uppercase;
    padding: 1.9em 1.32em;
}
.menu a:hover{
    text-shadow: 0 0 var(--red);
    text-decoration: underline;
}
.menubotao{
    color: white;
    display: none;
}
/* fim do menu  */
.banner{
    display: flex;
}
.banner img{
    width: 100%;
}
.banner-container{
    width: 100%;
    height: 37.5em;
    /* background-color: rgba(255, 0, 0, 0.596);  */
    position: absolute;
    top: 0;
}
.banner-content{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.521);  */
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 88%;
    margin-top: 5em;
    /* background-color: orchid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size:1.87em ;
}
.banner-text a{
    color: white;
    font-size: 1.87em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 0.75em;
    margin-top: 2em;
}
/* fim do banner  */
.games{
    width: 100%;
    height: 7.5em;
    /* background-color: yellow; */
}
.games ul{
    width: 100%;
    /* background-color: red; */
    list-style-type: none;
}
.games img{
    width: 170px;
  
}
.games ul a:hover img{
    transition: 0.5s;
    transform:scale(1.5);
}

.about {
    height: 31.25em;
    background-color: var(--blue);

    position: relative;
}

.about-angulation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.angulation {
    height: 24.125em;
    width: 100%;
    background-color: var(--black);

    transform: skewY(-4deg);   
}

.container-about {
    color: white;
    position: absolute;
    top: 0
}

.content-about {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-about {
    width: 50%;
    text-align: justify;
}

.text-about h2 {
    margin-bottom: 1em;
    font-size: 2.1875em;
}

.text-about p {
    font-size: 1.25em;
}

.content-about img {
    max-width: 31.875em;
}
.linha{
    border:solid 1px #fff;
    height: 3em;
}
.games-aovivo, .games-embreve{
    display: flex;
    color:#fff;
    align-items: center;
    font-size: 1.5625em;/*30px*/
    justify-content: space-between;

}
.partida{
    /* width: 9.5em; */
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content: space-between;
    margin-left: 1em;
}
.partidas{
    /* width: 9.5em; */
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content: space-between;
    margin-left: 1em; 
}
.time1, .time2{
    display: flex;
    align-items: center;
}
.partida img{
    width: 1.8em;
}
.partidas img{
    width: 1.8em;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
/* fim dos games  */
.bg-news{
    width: 100%;
    height: auto;
    background: var(--gradient);
}
.news{
    width: 70%;
    height: 90%;
    /* background-color: yellowgreen; */
}
.news h2{
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.2em;
    font-size: 2.1875em;
}
.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cardnews{
    width:14.8125em ;
    height: 22.75em;
    background: var(--gradient);
    color: white;
    box-shadow: 0px 0px 5px #006eff;
    margin-bottom: 2em;
}
.cardnews h3{
    padding: 0.6em 0.7em;
}
.cardnews p{
    padding: 0em 1em;
}
.next-games h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.1875em;
}
.next-games-bg{
    width:100% ;
    height: auto;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.4em 0;
}
.next-games-match{
   width: 100%; 
   height: 6.25em;
   display: flex;
   flex-direction: column; 
   align-items: center;
   font-weight: 700;
   color: white;
}
.teams{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.next-games-match div{
    display: flex;
    align-items: center;
}
.next-games-match img{
    max-width: 2.8em;
}
.next-games-match > p{
    margin-bottom: 1em ;
}
/* fim do noticias  */
.links-footer{
    width: 33%;
    display: flex;
    justify-content: space-around;
}
.links{
    color: white;
}
.links a{
    color: white;
    text-decoration: none;
}
.links-2{
    color: white;
}
.links-2 a{
    color: white;
    text-decoration: none;
}
.rodapé{
    padding: 1em 0;
}
.logo-rodapé{
    width: 19.06em;
}
.sociais  h2{
color: white;

}
.sociais > h2{
    font-size: 0.875em;
    margin-bottom: 0.8em;
}
.sociais form{
    display: flex;
}
.sociais input[type="email"]{
    width: 12.1875em;
    height: 2.3125em;
}
.sociais input[type="email"]::placeholder{
    font-weight: bold;
}
.sociais input[type="submit"]{
    width: 9.75em;
    height: 1.75em;
    color: rgb(255, 255, 255);
    background: #8326EF;
    font-size: 1.1em;
}
.siga-nos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8em;
}

/* 992 até 1199 */
@media screen and (max-width: 74.93em){
    .header-top{
        width: 95%;
        max-width: 74.93em;
        font-size: 0.8em;
    }
    .banner-text{
        margin-top: 1em;
    }
    .banner-text h1{
        font-size: 4.62em;
    }
    .banner-text p{
        font-size: 1.5em;
    }
    .banner img{
        max-width: 74,9375em;
    }
    .text-about{
        font-size: 0.8em;
    }
    .content-news{
        justify-content: space-around;
    }
    .news h2{
        margin-left: 1.3em;
    }
    .next-games-bg{
        margin-bottom: 7em;
    }
    .sociais > h2{
        font-size: 0.8em;
    }
    .sociais input[type="email"]{
        width: 11.1875em;
    }
    .sociais input[type="submit"]{
        width: 8.75em;
    }
    .logo-rodapé {
        width: 16.06em;
    }

}

/* 768 até 991 */
@media screen and (max-width: 61.93em){
    .header-top .content .flex-1{
        flex-wrap: nowrap;
    }
    .header-top img{
        max-width: 15.18em;
    }
    .menu{
        max-width: 37.5em;
    }
    .banner-text{
        height: 88%;
        margin-top: -1em;
    }
    .banner-text h1{
        font-size: 3.62em;
    }
    .banner-text p{
        font-size: 1.3em;
    }
    .banner-text a{
        margin-top: 2em;
        font-size: 1.5em;
    }
    .games img{
        width: 130px;
    }
    .content-about img{
        max-width: 22.875em;
    }
    .text-about{
        margin-top: 5em;
    }
    .games  .games-aovivo img{
        width: 50px;
    }
    .games .games-embreve {
        font-size: 1.25em;
    }
    .games .games-embreve img{
        width: 40px;
    }
    .games .games-aovivo h2{
        font-size: 20px;
    }
    .games .games-embreve h2{
        font-size: 20px;
    }
    .bg-news .content-news .cardnews:nth-child(5){
        display: none;
    }
    .bg-news .content-news .cardnews:nth-child(6){
        display: none;
    }
    .next-games .next-games-match:nth-child(5){
        display: none;
    }
    .next-games .next-games-match:nth-child(6){
        display: none;
    }
    .flex-1{
        flex-wrap: wrap;
    }
    .bg-news .news{
        margin: auto;
    }
    .bg-news h2{
        margin: auto;
    }
    .bg-news .next-games h2{
        margin-left: 1.9em;
    }
    .next-games-bg{
        flex-wrap: wrap;
        /* padding: -0.6em 0; */
        margin-bottom: 0em;
        margin-left: 4em;
        flex-direction: unset;
    }
    .links-footer{
        width: 25%;
    }
    .sociais > h2{
        font-size: 0.75em;
        margin-bottom: 0.8em;
    }
    .links-2{
        display: none;
    }
    .sociais form{
        display: flex;
    }
    .sociais input[type="email"]{
        width: 9.825em;
        height: 1.875em;
    }
    .sociais input[type="submit"]{
        width: 8em;
        height: 1.482em;
        font-size: 1.1em;
    }
    .sociais{
        margin: auto;
    }
    .siga-nos{
        font-size: 0.9375em;
    }
    .siga-nos img{
        width: 2.5em;
        height: 2.5em;
    }
    .logo-rodapé {
        width: 12.06em;
        display: flex;
        justify-content: space-between;
    }
}

/* 576 até 767 */
@media screen and (max-width: 47.93em){
    .header-top img {
        width: 10.18em;
        margin: auto;
    }
    .btnmenu{
        display: none;
        color: white;
    }
    .menu{
        width: 75%;
    }
    .banner-text h1{
        font-size: 1.62em;
    }
    .banner-text p{
        font-size: 1em;
    }
    .banner-text a{
        margin-bottom: 7em;
        font-size: 1em;
    }
    .games ul li:nth-child(2){
        display: none;
    }
    .games ul li:nth-child(5){
        display: none;
    }
    
    .text-about h2{
        font-size: 1.5em;
    }
    .text-about p{
        font-size: 1em;
    }
    .about .container-about img{
        max-width: 18.875em;
    }
    .games-embreve .partida:nth-child(2){
        display: none;
    }
    .bg-news .content-news .cardnews:nth-child(3){
        display: none;
    }
    .bg-news .content-news .cardnews:nth-child(4){
        display: none;
    }
    .content-news{
        flex-wrap: nowrap;
    }
    .cardnews{
        margin-right: 0.5em;
    }
    .next-games-bg{
        margin: auto;
    }
    .meus-links{
        width: 100%;
    }
    .links-footer{
        width: 35%;
        margin-bottom: -5em;
    }
    .logo-rodapé{
        margin: auto;
    }
    .sociais{
        margin-left: 15em;
    }
}

/* até 575 */
@media screen and (max-width: 36em){

}